# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Expo / React Native
.expo/
.expo-shared/
*.expo
web-build/
dist/

# Build directories
android/
ios/
*.keystore
*.jks

# Logs
*.log
*.trace

# Temporary files
.DS_Store
*.tmp
*.swp
*.swo

# Environment variables
.env
.env.*.local

# Lockfiles (if you want to ignore local changes)
package-lock.json
yarn.lock

# VSCode / editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace